.nutrition-facts {
    position: relative;
    width: 100%;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 80px 4vw;
    box-sizing: border-box;

    .info {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
        align-items: center;

        h3 {
            text-align: center;
        }
        
        p {
            max-width: 600px;
            text-align: center;
        }
    }

    .black, .red,
    .green, .brown {
        width: 300px;
        border-radius: 40px;
        color: var(--bg-color);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 40px;
        position: absolute;

        h3 {
            font-size: 60px;
            line-height: 1;
            margin-bottom: 20px;
        }

        h4 {
            font-size: 24px;
            line-height: 1;
            margin: 0;
        }
    }

    .black {
        background-color: var(--text-color);
        bottom: 4vh;
        right: 10vw;
        transform: rotate(-15deg);
    }
    
    .red {
        background-color: var(--red);
        top: 4vh;
        right: 10vw;
        transform: rotate(15deg);
    }
    
    .green {
        background-color: var(--primary-color);
        bottom: 4vh;
        left: 10vw;
        transform: rotate(15deg);
    }
    
    .brown {
        background-color: var(--brown);
        top: 4vh;
        left: 10vw;
        transform: rotate(-15deg);
    }

    @media screen and (max-width: 1100px) {
        .black {
            bottom: 4vh;
            right: 4vw;
        }
        
        .red {
            top: 4vh;
            right: 4vw;
        }
        
        .green {
            bottom: 4vh;
            left: 4vw;
        }
        
        .brown {
            top: 4vh;
            left: 4vw;
        }
    }

    @media screen and (max-width: 900px) {
        p {
            margin-bottom: 24px;
        }
        .black, .red,
        .green, .brown {
            position: relative;
            max-width: 60vw;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .black {
            transform: rotate(-3deg);
        }
        
        .red {
            transform: rotate(5deg);
        }
        
        .green {
            transform: rotate(5deg);
        }
        
        .brown {
            transform: rotate(-3deg);
        }
    }
}