.whats-inside {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;

    .image-wrapper {
        width: 100%;
        height: fit-content;
        display: flex;
        column-gap: 20px;
        align-items: center;
        justify-content: center;

        img {
            max-width: 400px;
            object-fit: cover;
            border-radius: 20px;
        }

        .left {
            transform: rotate(3deg);
        }
        
        .right {
            transform: rotate(-5deg);
        }
    }

    p {
        max-width: 600px;
        text-align: center;
    }
}