header {
    display: flex;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    justify-content: center;
    z-index: 999;

    nav {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        padding: 0 32px;
        justify-content: space-between;
        align-items: center;

        .menu-mobile {
            display: none;
        }

        .menu {
            list-style: none;
            display: flex;
            column-gap: 32px;
            padding: 0;

            li {
                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: var(--text-color);
                    font-weight: bold;
                    font-size: 14px;
                }
            }
        }

        .logo {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: fit-content;
            height: fit-content;

            img {
                object-fit: cover;
                width: 80px;
                height: 80px;
            }
        }

        .cta {
            padding: 12px 16px;
            font-family: 'Oswald';
            font-size: 14px;
            font-weight: 700;
            background-color: var(--primary-color);
            color: var(--bg-color);
            border: none;
            border-radius: 12px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover {
               box-shadow: 0 0 8px 2px #24532C55;
            }
        }

        .hamburger {
            position: relative;
            display: none;
            border: none;
            background-color: transparent;
            padding: 0;
            margin: 0;
            cursor: pointer;
            width: 30px;
            height: 10px;
            transition: 0.3s all ease;

            .top, .bottom {
                position: absolute;
                width: 30px;
                height: 3px;
                border-radius: 20px;
                background-color: var(--text-color);
                left: 0;
                transition: all 0.3s ease; 
            }

            .top {
                top: 0%;
            }
            
            .bottom {
                bottom: 0;
            }

            &.active {
                .top, .bottom {
                    top: 50%;
                    transform: translate(0, -50%);
                } 
            }
        }
    }

    @media screen and (max-width: 1100px) {
        height: fit-content;
        
        nav {
            padding: 20px;
            
            .menu {
                display: none;
            }

            .menu-mobile {
                position: absolute;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 0;
                padding: 0;
                list-style: none;
                background-color: var(--bg-color);
                opacity: 0;
                visibility: hidden;
                transition: 0.3s all ease;
                z-index: -1;

                &.active {
                    visibility: visible;
                    opacity: 1;
                }

                li {
                    a {
                        text-decoration: none;
                        cursor: pointer;
                        color: var(--text-color);
                        font-weight: bold;
                        font-size: 60px;
                    }
                }
            }

            .cta {
                display: none;
            }

            .hamburger {
                display: flex;
            }
        }
    }
}